<!DOCTYPE html>
<html data-version="<%= htmlWebpackPlugin.options.version %>">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
</head>
<body data-loaded="true">
<div id="content-overlay"></div>
</body>
</html>
